@inherits FormDataEditionBase

<div class="container form-container">
    <a href="@Href" class="p-0 text-light"><span class="oi oi-arrow-left"></span></a>
    <div class="ms-3">
        <h3><i class="@Icon"></i> @Header</h3>
        <p class="text-muted">#@HeaderSecondary</p>
    </div>
    @ChildContent
</div>