@inherits ModalContainerBase

<!-- Modal -->
<div class="modal fade" id="@Id" tabindex="-1" aria-labelledby="@Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @ChildContent
        </div>
    </div>
</div>

