@page "/profile/security"
@inherits PerfilSeguridadBase
@attribute [Authorize(Roles = "Admin, Guest")]

<Animate Animation="Animations.Fade">

    <div class="w-50 mx-auto">
        <div class="mb-3">
            <h3><i class="fa-solid fa-lock"></i> Seguridad</h3>
        </div>
        <EditForm Model=@ProfileSecurityForm OnValidSubmit="@UpdateProfesor_Click">
            <FluentValidationValidator @ref="_fluentValidationValidator"
                                       DisableAssemblyScanning="@true" />

            <FloatingInputText @bind-Value="ProfileSecurityForm.Password" FieldName="Contraseña" Type="password"></FloatingInputText>

            <FloatingInputText @bind-Value="ProfileSecurityForm.NewPassword" FieldName="Nueva contraseña" Type="password"></FloatingInputText>

            <FloatingInputText @bind-Value="ProfileSecurityForm.NewPasswordConfirm" FieldName="Repetir nueva contraseña" Type="password"></FloatingInputText>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success w-100 me-5">
                    Guardar
                </button>
            </div>
        </EditForm>
    </div>
</Animate>

<!-- Modal -->
<div class="modal fade" id="@PasswordActualizado_Modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="@PasswordActualizado_Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatedModalLabel">Accion realizada con exito</h5>
            </div>
            <div class="modal-body">
                Se ha actualizado la contraseña exitosamente
            </div>
            <div class="modal-footer justify-content-center">
                <a @onclick="() => Navigate_Click()" data-bs-dismiss="modal" class="btn btn-success">Aceptar</a>
            </div>
        </div>
    </div>
</div>