@using SistemaTurnosOnline.Web.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<PageTitle>SistemaTurnosOnline.Web</PageTitle>

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu/>
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row justify-content-between px-4 bg-dark border-dark">
            <a class="text-light" href="/"><b class="m-0 display-font">﻿I.S.F.T. Nº 189</b></a>
            <div>
                <a href="https://github.com/AgusR-99/SistemaTurnosOnline" target="_blank">About</a>
                <AuthorizeView>
                    <Authorized>
                        <a @onclick="Logout_Click" href="javascript:void(0)">Cerrar sesion</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>

@code
{
    private async Task Logout_Click()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;

        await customAuthStateProvider.UpdateAuthenticationState(null);

        NavigationManager.NavigateTo("/sign-in", true);
    }
}
