<div class="nav-item px-3" b-hhfjpgvjne>
    <NavLink class="nav-link" href="@_Href">
        <span class="@_Class" aria-hidden="true" b-hhfjpgvjne></span>@_Text
    </NavLink>
</div>

@code{
    [Parameter]
    public string _Class { get; set; }
    [Parameter]
    public string _Text { get; set; }
    [Parameter]
    public string _Href { get; set; }
}