@page "/sign-in"
@inherits SignInBase

<Animate Animation="Animations.Fade">
    <EditForm OnValidSubmit="@SignIn_Click" Model="Form">
        <FluentValidationValidator @ref="_fluentValidationValidator"
                                   DisableAssemblyScanning="@true" />
        <div class="w-50 mx-auto">
            @if (UserId != null)
            {
                <AlreadySignedIn />
            }
            else
            {
                <h1 class="h3 mb-3 fw-normal">Ingresar</h1>

                <FloatingInputText @bind-Value="Form.Dni" FieldName="DNI" Type="number"></FloatingInputText>

                <FloatingInputText @bind-Value="Form.Password" FieldName="Contraseña" Type="password"></FloatingInputText>

                <div class="d-flex justify-content-center mb-3">
                    <button class="btn btn-lg btn-primary" type="submit">Ingresar</button>
                </div>

                <span>¿No tienes una cuenta?</span> <a href="/sign-up"> Registrate</a>
            }
        </div>
    </EditForm>
</Animate>
